.icon {
    fill: none;
    height: 1.5rem;
    padding: .75rem;
    pointer-events: none;
    stroke: currentColor;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 2;
}

.icon--filled {
    fill: currentColor;
    stroke: none;
}

.icon--small {
    height: 1rem;
}