.banner {
    background-color: hsl(var(--hsl-30));
    color: hsl(var(--hsl-20));
    display: flex;
    padding: 1rem;
    position: relative;
}

.banner__margin {
    width: 3rem;
}

.banner__content {
    flex: 1;
    margin-right: 3rem;
    overflow: hidden;
    padding: 1rem;
    text-overflow: ellipsis;
}

.banner__overline {
    display: block;
    font-size: .75rem;
    padding-top: 2rem;
}

.banner__title {
    display: inline;
    font-size: 1.25rem;
    font-weight: calc(var(--font-weight) + 100);
    line-height: 1;
    white-space: nowrap;
}

.banner__description {
    font-size: .875rem;
}

.banner__description:not(:only-child) {
    margin-top: .5rem;
}

.banner__sticker {
    font-size: 1.5rem;
    line-height: 1;
    padding: .9rem 0;
    position: absolute;
    right: 1.5rem;
    top: 1rem;
}