.table {
    background-color: hsl(var(--hsl-20));
    color: hsl(var(--hsl-14));
}

.table__rowgroup {
    background-color: hsl(var(--hsl-18));
    overflow: hidden;
    transition: height var(--transition);
}

.table__row {
    align-items: center;
    display: flex;
    padding: 0 1rem;
    position: relative;
    transition: color var(--transition);
}

.table__row--primary {
    background-color: hsl(var(--hsl-30));
    color: hsl(var(--hsl-20));
    font-size: .875rem;
    margin-top: -1rem;
    z-index: 1;
}

.table__row--primary::after {
    background-image: linear-gradient(hsl(var(--hsl-10), .2), transparent);
    content: "";
    height: 4px;
    left: 0;
    position: absolute;
    top: 100%;
    width: 100%;
}

.table__row--secondary {
    border-top: 1px solid hsl(var(--hsl-16));
    height: 3rem;
}

.table__row--secondary:hover {
    color: hsl(var(--hsl-12));
}

.table__row--tertiary {
    font-size: .875rem;
}

.table__row--tertiary:first-of-type {
    border-top: 1px solid hsl(var(--hsl-16));
    padding-top: .5rem;
}

.table__row--tertiary:last-of-type {
    padding-bottom: .5rem;
}

.table__row--tertiary:hover {
    color: hsl(var(--hsl-12));
}

.table__row--highlighted {
    color: hsl(var(--hsl-12));
}

.table__cell {
    flex: 1;
    overflow: hidden;
    padding: 0 1rem;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.table__disclosure-button {
    position: absolute;
    right: 0;
}

.table__disclosure-button::before {
    border-radius: 0;
}