@font-face {
    font-family: "Hind";
    src: url("/fonts/Hind-Regular.ttf");
    font-weight: 400;
}

@font-face {
    font-family: "Hind";
    src: url("/fonts/Hind-Medium.ttf");
    font-weight: 500;
}

