html {
    font-size: var(--font-size);
    scrollbar-width: none;
}

body {
    background-color: hsl(var(--hsl-30));
    color: hsl(var(--hsl-20));
    cursor: default;
    font-family: var(--font-family);
    font-size: inherit;
    font-weight: var(--font-weight);
    line-height: var(--line-height);
    margin: auto;
    width: 480px;
}

svg {
    vertical-align: middle;
}

::selection {
    background-color: hsl(var(--hsl-42), .9);
    color: hsl(var(--hsl-10), .8);
}

::-moz-focus-inner {
    border: none;
}