:root {
    --hsl-10: 0, 0%, 0%;
    --hsl-12: 0, 0%, 10%;
    --hsl-14: 0, 0%, 40%;
    --hsl-16: 0, 0%, 90%;
    --hsl-18: 0, 0%, 95%;
    --hsl-20: 0, 0%, 100%;
    --hsl-30: 220, 60%, 50%;
    --hsl-40: 90, 100%, 50%;
    --hsl-42: 90, 100%, 80%;
    --hsl-50: 50, 100%, 60%;
    --hsl-52: 50, 100%, 80%;

    --font-family: "Hind";
    --font-size: 16px;
    --font-weight: 400;
    --line-height: 1.5;

    --transition: .2s;
}